<div class="flex h-screen w-screen bg-gray-500 bg-construction bg-cover flex-col justify-between">
    <div class="w-36 p-6 text-center">
        <div class="flex justify-center mb-4">
            <img class="self-center" src="../../../assets/icons/logo.svg">
        </div>
        <span class="text-white text-lg">Hoang Duc Nguyen</span>
    </div>
    <div class="flex justify-center">
        <div class="text-center w-[32rem]">
            <h2 class="text-white text-[4rem]">Portfolio</h2>
            <div class="divider fill-white text-3xl text-white before:bg-white before:h-1 after:bg-white after:h-1">•</div>
            <h1 class="text-white text-[7rem] leading-tight uppercase">Coming soon</h1>
        </div>
    </div>
    <div class="flex justify-center flex-col items-center mb-16">
        <div class="text-center w-[32rem] mb-16">
            <h3 class="text-white text-[3rem] text-balance">While you are waiting, please check out:</h3>
        </div>
        <div class="flex justify-evenly gap-12">
            <a href="https://www.linkedin.com/in/hoang-nguyen-duc1997/" target="_blank"><img src="../../../assets/icons/linkedin.svg" alt="My LinkedIn" width="60" height="60"></a>
            <a href="https://github.com/nguyenhoang-duc" target="_blank"><img src="../../../assets/icons/github.svg" alt="My Github" width="60" height="60"></a>
        </div>
    </div>
</div>